<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="org.eclipse.kybele.hybrid"
            class="hybrid.HybridPackage"
            genModel="model/Hybrid.genmodel"/>
   </extension>
   
  <extension
        point="org.eclipse.epsilon.evl.emf.validation">
     <constraintsBinding
           constraints="model/Hybrid.evl"
           namespaceURI="org.eclipse.kybele.hybrid">
     </constraintsBinding>
  </extension>
  <extension
        point="org.eclipse.ui.ide.markerResolution">
     <markerResolutionGenerator
           class="org.eclipse.epsilon.evl.emf.validation.EvlMarkerResolutionGenerator"
           markerType="org.eclipse.emf.ecore.diagnostic">
     </markerResolutionGenerator>
  </extension>

</plugin>
