<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>
   <extension
         point="org.eclipse.gmt.weaver.metamodelExtensionID"
         id="MeTAGeMMetamodelExtension">
         <extensionFile
               fileName="mmw_metagem_v2.km3"
               name="QuickATL"
               relativePath="metamodels/">
         </extensionFile>
   </extension>


</plugin>
