<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="kybele.metagem.ui.launchs.metagem2hybrid.METAGEM2HYBRIDLaunchConfigurationDelegate"
            id="MeTAGeM_UI.METAGEM2HYBRIDLCT"
            modes="run, debug"
            name="MeTAGeM -&gt; Hybrid"
            public="true">
      </launchConfigurationType>
      <launchConfigurationType
            delegate="kybele.metagem.ui.launchs.hybrid2atl.HYBRID2ATLLaunchConfigurationDelegate"
            id="MeTAGeM_UI.HYBRID2ATLLCT"
            modes="run, debug"
            name="Hybrid -&gt; ATL"
            public="true">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="kybele.metagem.ui.launchs.metagem2hybrid.METAGEM2HYBRIDLaunchConfigurationTabGroup"
            id="MeTAGeM.launchConfigurationTabGroup_Metagem2Hybrid"
            type="MeTAGeM_UI.METAGEM2HYBRIDLCT">
      </launchConfigurationTabGroup>
      <launchConfigurationTabGroup
            class="kybele.metagem.ui.launchs.hybrid2atl.HYBRID2ATLLaunchConfigurationTabGroup"
            id="MeTAGeM.launchConfigurationTabGroup_Hybrid2ATL"
            type="MeTAGeM_UI.HYBRID2ATLLCT">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="kybele.metagem.ui.launchs.metagem2hybrid.METAGEM2HYBRIDLaunchShortcut"
            id="MeTAGeM_UI.shortcut4"
            label="MeTAGeM -&gt; Hybrid"
            modes="run, debug">
         <configurationType
               id="MeTAGeM_UI.METAGEM2HYBRIDLCT">
         </configurationType>
         <contextualLaunch>
            <contextLabel
                  label="MeTAGeM -&gt; Hybrid"
                  mode="run">
            </contextLabel>
            <enablement>
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <instanceof
                           value="org.eclipse.core.resources.IFile">
                     </instanceof>
                     <test
                           property="org.eclipse.debug.ui.matchesPattern"
                           value="*.amw">
                     </test>
                  </iterate>
               </with>
            </enablement>
         </contextualLaunch>
      </shortcut>
      <shortcut
            class="kybele.metagem.ui.launchs.hybrid2atl.HYBRID2ATLLaunchShortcut"
            id="MeTAGeM_UI.shortcut5"
            label="Hybrid -&gt; ATL"
            modes="run,debug">
         <configurationType
               id="MeTAGeM_UI.HYBRID2ATLLCT">
         </configurationType>
         <contextualLaunch>
            <contextLabel
                  label="HYBRID -&gt; ATL"
                  mode="run">
            </contextLabel>
            <enablement>
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <instanceof
                           value="org.eclipse.core.resources.IFile">
                     </instanceof>
                     <test
                           property="org.eclipse.debug.ui.matchesPattern"
                           value="*.mm_hybrid">
                     </test>
                  </iterate>
               </with>
            </enablement>
         </contextualLaunch>
      </shortcut>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="ExtractRubyTL"
            nameFilter="*.rubytl"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="kybele.metagem.ui.actions.RubyTLExtract"
               enablesFor="1"
               id="ExtractRubyTL"
               label="Extract RubyTL model to RubyTL file">
         </action>
      </objectContribution>
      <objectContribution
            id="InjectRubyTL"
            nameFilter="*.rb"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="kybele.metagem.ui.actions.RubyTLInject"
               enablesFor="1"
               id="InjectRubyTL"
               label="Inject RubyTL file to RubyTL model">
         </action>
      </objectContribution>
   </extension>

</plugin>
