<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <wizard
            id="Traceability.presentation.TraceabilityModelWizardID"
            name="%_UI_TraceabilityModelWizard_label"
            class="Traceability.presentation.TraceabilityModelWizard"
            category="org.eclipse.kybele.metagem.Wizard.category.ID"
            icon="icons/full/obj16/TraceabilityModelFile.gif">
         <description>%_UI_TraceabilityModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            class="Traceability.presentation.TraceabilityEditorTrace"
            contributorClass="Traceability.presentation.TraceabilityActionBarContributor"
            default="true"
            extensions="mtrace"
            icon="icons/full/obj16/TraceabilityModelFile.gif"
            id="Traceability.presentation.TraceabilityEditorID"
            name="%_UI_TraceabilityEditor_label">
      </editor>
      <editor
            class="Traceability.presentation.TraceabilityEditor"
            contributorClass="Traceability.presentation.TraceabilityActionBarContributor"
            default="false"
            extensions="mtrace"
            icon="icons/full/obj16/TraceabilityModelFile.gif"
            id="Traceability.presentation.TraceabilityEditorID_emf"
            name="%_UI_TraceabilityEditorEMF_label">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="kybele.es.Traceability.loadElements"
            nameFilter="*.mtrace"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="Traceability.actions.LoadElements"
               enablesFor="1"
               id="kybele.es.Traceability.loadElements.action"
               label="Load Elements from Models">
         </action>
      </objectContribution>
   </extension>

</plugin>
