<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2m.atl.adt.launching.atlTransformation">
<stringAttribute key="ATL File Name" value="/Metagem2Hybrid/MeTAGeM2Hybrid2.atl"/>
<stringAttribute key="ATL VM" value="EMF-specific VM"/>
<stringAttribute key="ATL_COMPILER" value="atl2006"/>
<booleanAttribute key="IS_REFINING" value="false"/>
<mapAttribute key="Input">
<mapEntry key="IN" value="MeTAGeM"/>
</mapAttribute>
<mapAttribute key="Libs"/>
<mapAttribute key="Model Handler">
<mapEntry key="Hybrid" value="EMF"/>
<mapEntry key="MeTAGeM" value="EMF"/>
</mapAttribute>
<mapAttribute key="ModelType">
<mapEntry key="Hybrid" value="METAMODELOUTPUT"/>
<mapEntry key="IN" value="MODELINPUT"/>
<mapEntry key="MeTAGeM" value="METAMODELINPUT"/>
<mapEntry key="OUT" value="MODELOUTPUT"/>
</mapAttribute>
<mapAttribute key="Options">
<mapEntry key="OPTION_CLEAR" value="false"/>
<mapEntry key="OPTION_CONTENT_TYPE" value="false"/>
<mapEntry key="OPTION_DERIVED" value="true"/>
<mapEntry key="allowInterModelReferences" value="false"/>
<mapEntry key="printExecutionTime" value="false"/>
<mapEntry key="step" value="false"/>
<mapEntry key="supportUML2Stereotypes" value="false"/>
</mapAttribute>
<listAttribute key="OrderedInput">
<listEntry value="IN"/>
</listAttribute>
<listAttribute key="OrderedOutput">
<listEntry value="OUT"/>
</listAttribute>
<mapAttribute key="Output">
<mapEntry key="OUT" value="Hybrid"/>
</mapAttribute>
<mapAttribute key="Path">
<mapEntry key="Hybrid" value="/Metagem2Hybrid/Hybrid.ecore"/>
<mapEntry key="IN" value="/Metagem2Hybrid/prueba.xmi"/>
<mapEntry key="MeTAGeM" value="/Metagem2Hybrid/MeTAGeM.ecore"/>
<mapEntry key="OUT" value="/Metagem2Hybrid/out.xmi"/>
</mapAttribute>
<listAttribute key="Superimpose"/>
</launchConfiguration>
