<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.kybele.metagem.Wizard.category.ID"
            name="MeTAGeM"/>
      <wizard
            id="metagem.presentation.MetagemModelWizardID"
            name="%_UI_MetagemModelWizard_label"
            class="metagem.presentation.MetagemModelWizard"
            category="org.eclipse.kybele.metagem.Wizard.category.ID"
            icon="icons/full/obj16/MetagemModelFile.gif">
         <description>%_UI_MetagemModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            class="metagem.presentation.MetagemEditorMultiPanel"
            contributorClass="metagem.presentation.MetagemActionBarContributor"
            default="true"
            extensions="metagem"
            icon="icons/full/obj16/MetagemModelFile.gif"
            id="metagem.presentation.MetagemEditorID"
            name="%_UI_MetagemEditor_label">
      </editor>
      <editor
            class="metagem.presentation.MetagemEditor"
            contributorClass="metagem.presentation.MetagemActionBarContributor"
            default="false"
            extensions="metagem"
            icon="icons/full/obj16/MetagemModelFile.gif"
            id="metagem.presentation.MetagemEditorID_emf"
            name="%_UI_MetagemEditorEMF_label">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="kybele.es.Metagem.loadElements"
            nameFilter="*.metagem"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="metagem.actions.LoadElements"
               enablesFor="1"
               id="kybele.es.Metagem.loadElements.action"
               label="Load Elements from Models">
         </action>
      </objectContribution>
   </extension>

</plugin>
