<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2m.atl.adt.launching.atlTransformation">
<stringAttribute key="ATL File Name" value="/MeTAGeM.ui/src/kybele/metagem/ui/api/resources/Hybrid2RubyTL.atl"/>
<stringAttribute key="ATL VM" value="EMF-specific VM"/>
<stringAttribute key="ATL_COMPILER" value="atl2006"/>
<booleanAttribute key="IS_REFINING" value="false"/>
<mapAttribute key="Input">
<mapEntry key="IN" value="MM_Hybrid"/>
</mapAttribute>
<mapAttribute key="Libs"/>
<mapAttribute key="Model Handler">
<mapEntry key="MM_Hybrid" value="EMF"/>
<mapEntry key="RubyTL" value="EMF"/>
</mapAttribute>
<mapAttribute key="ModelType">
<mapEntry key="IN" value="MODELINPUT"/>
<mapEntry key="MM_Hybrid" value="METAMODELINPUT"/>
<mapEntry key="OUT" value="MODELOUTPUT"/>
<mapEntry key="RubyTL" value="METAMODELOUTPUT"/>
</mapAttribute>
<mapAttribute key="Options">
<mapEntry key="OPTION_CLEAR" value="false"/>
<mapEntry key="OPTION_CONTENT_TYPE" value="false"/>
<mapEntry key="OPTION_DERIVED" value="true"/>
<mapEntry key="allowInterModelReferences" value="false"/>
<mapEntry key="printExecutionTime" value="false"/>
<mapEntry key="step" value="false"/>
<mapEntry key="supportUML2Stereotypes" value="false"/>
</mapAttribute>
<listAttribute key="OrderedInput">
<listEntry value="IN"/>
</listAttribute>
<listAttribute key="OrderedOutput">
<listEntry value="OUT"/>
</listAttribute>
<mapAttribute key="Output">
<mapEntry key="OUT" value="RubyTL"/>
</mapAttribute>
<mapAttribute key="Path">
<mapEntry key="IN" value="/MeTAGeM.ui/model/zz.mm_hybrid"/>
<mapEntry key="MM_Hybrid" value="/MeTAGeM.ui/src/kybele/metagem/ui/api/resources/MM_Hybrid.ecore"/>
<mapEntry key="OUT" value="/MeTAGeM.ui/model/zz.rubytl"/>
<mapEntry key="RubyTL" value="/MeTAGeM.ui/src/kybele/metagem/ui/api/resources/RubyTL/Metamodel/RubyTL.ecore"/>
</mapAttribute>
<listAttribute key="Superimpose"/>
</launchConfiguration>
