<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <wizard
            id="hybrid.presentation.HybridModelWizardID"
            name="%_UI_HybridModelWizard_label"
            class="hybrid.presentation.HybridModelWizard"
            category="org.eclipse.kybele.metagem.Wizard.category.ID"
            icon="icons/full/obj16/HybridModelFile.gif">
         <description>%_UI_HybridModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            class="hybrid.presentation.HybridEditor"
            contributorClass="hybrid.presentation.HybridActionBarContributor"
            default="false"
            extensions="hybrid"
            icon="icons/full/obj16/HybridModelFile.gif"
            id="hybrid.presentation.HybridEditorID_emf"
            name="%_UI_HybridEditorEMF_label">
      </editor>
      <editor
            class="hybrid.presentation.HybridEditorMultiPanel"
            contributorClass="hybrid.presentation.HybridActionBarContributor"
            default="true"
            extensions="hybrid"
            icon="icons/full/obj16/HybridModelFile.gif"
            id="hybrid.presentation.HybridEditorID"
            name="%_UI_HybridEditor_label">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="kybele.es.Hybrid.loadElements"
            nameFilter="*.hybrid"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="hybrid.actions.LoadElements"
               enablesFor="1"
               id="kybele.es.Hybrid.loadElements.action"
               label="Load Elements from Models">
         </action>
      </objectContribution>
   </extension>

</plugin>
