<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <wizard
            id="RubyTL.presentation.RubyTLModelWizardID"
            name="%_UI_RubyTLModelWizard_label"
            class="RubyTL.presentation.RubyTLModelWizard"
            category="org.eclipse.kybele.metagem.Wizard.category.ID"
            icon="icons/full/obj16/RubyTLModelFile.gif">
         <description>%_UI_RubyTLModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="RubyTL.presentation.RubyTLEditorID"
            name="%_UI_RubyTLEditor_label"
            icon="icons/full/obj16/RubyTLModelFile.gif"
            extensions="rubytl"
            class="RubyTL.presentation.RubyTLEditor"
            contributorClass="RubyTL.presentation.RubyTLActionBarContributor">
      </editor>
   </extension>

</plugin>
