<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--

-->
<plugin>

   <extension point="org.eclipse.team.core.fileTypes">
      <?gmfgen generated="true"?>
      <fileTypes
         type="text"
         extension="mm_hybrid_diagram">
      </fileTypes>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <?gmfgen generated="true"?>
      <parser
         type="mm_hybrid_diagram"
         class="org.eclipse.gmf.runtime.emf.core.resources.GMFResourceFactory">
      </parser>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <?gmfgen generated="true"?>
      <editor
         id="mm_hybrid.diagram.part.MM_HybridDiagramEditorID"
         name="%editorName"
         icon="icons/obj16/MM_HybridDiagramFile.gif"
         extensions="mm_hybrid_diagram"
         default="true"
         class="mm_hybrid.diagram.part.MM_HybridDiagramEditor"
         matchingStrategy="mm_hybrid.diagram.part.MM_HybridMatchingStrategy"
         contributorClass="mm_hybrid.diagram.part.MM_HybridDiagramActionBarContributor">
      </editor>
   </extension>
   
   <extension point="org.eclipse.ui.contexts">
      <?gmfgen generated="true"?>
      <context
         description="%context.description"
         id="mm_hybrid.diagram.ui.diagramContext"
         name="%context.name"
         parentId="org.eclipse.gmf.runtime.diagram.ui.diagramContext">
      </context>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <?gmfgen generated="true"?>
  	  <wizard
  	     name="%newWizardName"
  	     icon="icons/obj16/MM_HybridDiagramFile.gif"
  	     category="org.eclipse.ui.Examples"
  	     class="mm_hybrid.diagram.part.MM_HybridCreationWizard"
  	     id="mm_hybrid.diagram.part.MM_HybridCreationWizardID">
  	  	 <description>%newWizardDesc</description>  
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.popupMenus">
      <?gmfgen generated="true"?>
      <objectContribution
            adaptable="false"
            id="mm_Hybrid.diagram.CreateShortcut"
            objectClass="mm_hybrid.diagram.edit.parts.ModuleEditPart">
         <action
               class="mm_hybrid.diagram.part.MM_HybridCreateShortcutAction"
               enablesFor="1"
               id="mm_Hybrid.diagram.CreateShortcutAction"
               label="%createShortcutActionLabel"
               menubarPath="additions">
         </action>
      </objectContribution>                      
      <objectContribution
            adaptable="false"
            id="mm_Hybrid.diagram.LoadResource"
            objectClass="mm_hybrid.diagram.edit.parts.ModuleEditPart">
         <action
               class="mm_hybrid.diagram.part.MM_HybridLoadResourceAction"
               enablesFor="1"
               id="mm_Hybrid.diagram.LoadResourceAction"
               label="%loadResourceActionLabel"
               menubarPath="additions">
         </action>
      </objectContribution>           
   </extension>

   <extension point="org.eclipse.ui.popupMenus">
      <?gmfgen generated="true"?>
      <objectContribution
            id="mm_Hybrid.diagram.InitDiagram"
            nameFilter="*.mm_hybrid"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               label="%initDiagramActionLabel"
               class="mm_hybrid.diagram.part.MM_HybridInitDiagramFileAction"
               menubarPath="additions"
               enablesFor="1"
               id="mm_Hybrid.diagram.InitDiagramAction">
         </action>
      </objectContribution>
   </extension>
	
   <extension point="org.eclipse.gmf.runtime.common.ui.services.action.globalActionHandlerProviders">
      <?gmfgen generated="true"?>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramGlobalActionHandlerProvider"
         id="MM_HybridPresentation">
         <Priority name="Lowest"/>
         <ViewId id="mm_hybrid.diagram.part.MM_HybridDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="delete"/>
            </ElementType>
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.DiagramEditPart">
               <GlobalActionId actionId="save"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.printing.render.providers.DiagramWithPrintGlobalActionHandlerProvider"
         id="MM_HybridPresentationPrint">
         <Priority name="Lowest"/>
         <ViewId id="mm_hybrid.diagram.part.MM_HybridDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="print"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.ide.providers.DiagramIDEGlobalActionHandlerProvider"
         id="MM_HybridPresentationIDE">
         <Priority name="Lowest"/>
         <ViewId id="mm_hybrid.diagram.part.MM_HybridDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="bookmark"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
            class="org.eclipse.gmf.runtime.diagram.ui.render.providers.DiagramUIRenderGlobalActionHandlerProvider"
            id="MM_HybridRender">
         <Priority name="Lowest"/>
         <ViewId id="mm_hybrid.diagram.part.MM_HybridDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="cut"/>
               <GlobalActionId actionId="copy"/>
               <GlobalActionId actionId="paste"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.action.contributionItemProviders">
      <?gmfgen generated="true"?>
      <contributionItemProvider class="mm_hybrid.diagram.providers.MM_HybridContributionItemProvider">
         <Priority name="Low"/>
         <partContribution id="mm_hybrid.diagram.part.MM_HybridDiagramEditorID">
            <partAction menubarPath="/file/print" id="printPreviewAction"/>
         </partContribution>
      </contributionItemProvider>
   </extension>

   <extension id="ValidationContributionItemProvider" name="Validation"
      point="org.eclipse.gmf.runtime.common.ui.services.action.contributionItemProviders">
      <?gmfgen generated="true"?>
      <contributionItemProvider
         class="mm_hybrid.diagram.providers.MM_HybridValidationProvider">
         <Priority name="Low"/>
         <partContribution id="mm_hybrid.diagram.part.MM_HybridDiagramEditorID">
            <partMenuGroup menubarPath="/diagramMenu/" id="validationGroup"/>
            <partAction id="validateAction" menubarPath="/diagramMenu/validationGroup"/>
         </partContribution>
      </contributionItemProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.markerNavigationProviders">
      <?gmfgen generated="true"?>
      <MarkerNavigationProvider class="mm_hybrid.diagram.providers.MM_HybridMarkerNavigationProvider">
         <MarkerType name="mm_Hybrid.diagram.diagnostic"/>
         <Priority name="Lowest"/>
      </MarkerNavigationProvider>
   </extension>

   <extension id="diagnostic" name="MM_Hybrid Plugin problems" point="org.eclipse.core.resources.markers">
      <?gmfgen generated="true"?>
      <super type="org.eclipse.core.resources.problemmarker"/>
      <super type="org.eclipse.gmf.runtime.common.ui.services.marker"/>
      <persistent value="true"/>
   </extension>   

   <extension id="validationDecoratorProvider" name="ValidationDecorations" point="org.eclipse.gmf.runtime.diagram.ui.decoratorProviders">
      <?gmfgen generated="true"?>
      <decoratorProvider class="mm_hybrid.diagram.providers.MM_HybridValidationDecoratorProvider">
         <Priority name="Highest"/>
         <object class="org.eclipse.gmf.runtime.diagram.ui.editparts.IPrimaryEditPart(org.eclipse.gmf.runtime.diagram.ui)" id="PRIMARY_VIEW"/>
         <context decoratorTargets="PRIMARY_VIEW"/>
      </decoratorProvider>
   </extension>

   <extension point="org.eclipse.core.runtime.preferences">
      <?gmfgen generated="true"?>
      <initializer class="mm_hybrid.diagram.preferences.DiagramPreferenceInitializer"/>
   </extension>

   <extension point="org.eclipse.ui.preferencePages">
      <?gmfgen generated="true"?>
      <page
            id="mm_Hybrid.diagram.general"
            name="%preference.page.title.mm_Hybrid.diagram.general"
            class="mm_hybrid.diagram.preferences.DiagramGeneralPreferencePage">
      </page>
      <page
            id="mm_Hybrid.diagram.appearance"
            name="%preference.page.title.mm_Hybrid.diagram.appearance"
            category="mm_Hybrid.diagram.general"
            class="mm_hybrid.diagram.preferences.DiagramAppearancePreferencePage">
      </page>
      <page
            id="mm_Hybrid.diagram.connections"
            name="%preference.page.title.mm_Hybrid.diagram.connections"
            category="mm_Hybrid.diagram.general"
            class="mm_hybrid.diagram.preferences.DiagramConnectionsPreferencePage">
      </page>
      <page
            id="mm_Hybrid.diagram.printing"
            name="%preference.page.title.mm_Hybrid.diagram.printing"
            category="mm_Hybrid.diagram.general"
            class="mm_hybrid.diagram.preferences.DiagramPrintingPreferencePage">
      </page>
      <page
            id="mm_Hybrid.diagram.rulersAndGrid"
            name="%preference.page.title.mm_Hybrid.diagram.rulersAndGrid"
            category="mm_Hybrid.diagram.general"
            class="mm_hybrid.diagram.preferences.DiagramRulersAndGridPreferencePage">
      </page>
      <page
            id="mm_Hybrid.diagram.pathmaps"
            name="%preference.page.title.mm_Hybrid.diagram.pathmaps"
            category="mm_Hybrid.diagram.general"
            class="org.eclipse.gmf.runtime.emf.ui.preferences.PathmapsPreferencePage">
      </page>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <?gmfgen generated="true"?>
      <propertyContributor
            contributorId="mm_Hybrid.diagram"
            labelProvider="mm_hybrid.diagram.sheet.MM_HybridSheetLabelProvider">
         <propertyCategory category="domain"/>
         <propertyCategory category="visual"/>
         <propertyCategory category="extra"/>
      </propertyContributor>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <?gmfgen generated="true"?>   
      <propertyTabs contributorId="mm_Hybrid.diagram">
         <propertyTab
             category="visual"
             id="property.tab.AppearancePropertySection"
             label="%tab.appearance"/>
          <propertyTab
             category="visual"
             id="property.tab.DiagramPropertySection"
             label="%tab.diagram"/>
          <propertyTab
             category="domain"
             id="property.tab.domain"
             label="%tab.domain"/>
      </propertyTabs>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <?gmfgen generated="true"?>   
      <propertySections contributorId="mm_Hybrid.diagram">
         <propertySection id="property.section.ConnectorAppearancePropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ConnectionEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ConnectionAppearancePropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection>
         <propertySection id="property.section.ShapeColorAndFontPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ShapeEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ShapeColorsAndFontsPropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection> 
         <propertySection id="property.section.DiagramColorsAndFontsPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.DiagramColorsAndFontsPropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection>     
         <propertySection id="property.section.RulerGridPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.grid.RulerGridPropertySection" 
            tab="property.tab.DiagramPropertySection">
         </propertySection>     
         <propertySection
            id="property.section.domain" 
            tab="property.tab.domain"
            class="mm_hybrid.diagram.sheet.MM_HybridPropertySection">
            <input type="org.eclipse.gmf.runtime.notation.View"/>
            <input type="org.eclipse.gef.EditPart"/>
            <input type="mm_hybrid.diagram.navigator.MM_HybridAbstractNavigatorItem"/>
         </propertySection>
      </propertySections>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.core.viewProviders">
      <?gmfgen generated="true"?>
      <viewProvider class="mm_hybrid.diagram.providers.MM_HybridViewProvider">
         <Priority name="Lowest"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Diagram" semanticHints="MM_Hybrid"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Node" semanticHints=""/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Edge" semanticHints=""/>
      </viewProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders">
      <?gmfgen generated="true"?>
      <editpartProvider class="mm_hybrid.diagram.providers.MM_HybridEditPartProvider">
         <Priority name="Lowest"/>
      </editpartProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.ui.modelingAssistantProviders">
      <?gmfgen generated="true"?>
      <modelingAssistantProvider class="mm_hybrid.diagram.providers.MM_HybridModelingAssistantProvider">
         <Priority name="Lowest"/>
      </modelingAssistantProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.iconProviders">
      <?gmfgen generated="true"?>
      <IconProvider class="mm_hybrid.diagram.providers.MM_HybridIconProvider">
         <Priority name="Low"/>
      </IconProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.parserProviders">
      <?gmfgen generated="true"?>
      <ParserProvider class="mm_hybrid.diagram.providers.MM_HybridParserProvider">
         <Priority name="Lowest"/>
      </ParserProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.ui.decoratorProviders">
      <?gmfgen generated="true"?>
      <decoratorProvider class="mm_hybrid.diagram.providers.MM_HybridShortcutsDecoratorProvider">
         <Priority name="Lowest"/>
      </decoratorProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypes">
      <?gmfgen generated="true"?>
      <metamodel nsURI="http:///MM_Hybrid.ecore">
         <metamodelType
               id="mm_Hybrid.diagram.Module_1000"
               name="%metatype.name.Module_1000"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Module"
               edithelper="mm_hybrid.diagram.edit.helpers.ModuleEditHelper">
            <param name="semanticHint" value="1000"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http:///MM_Hybrid.ecore">
         <metamodelType
               id="mm_Hybrid.diagram.Rule_2001"
               name="%metatype.name.Rule_2001"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Rule"
               edithelper="mm_hybrid.diagram.edit.helpers.RuleEditHelper">
            <param name="semanticHint" value="2001"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http:///MM_Hybrid.ecore">
         <metamodelType
               id="mm_Hybrid.diagram.InMetaModel_2002"
               name="%metatype.name.InMetaModel_2002"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="InMetaModel"
               edithelper="mm_hybrid.diagram.edit.helpers.InMetaModelEditHelper">
            <param name="semanticHint" value="2002"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http:///MM_Hybrid.ecore">
         <metamodelType
               id="mm_Hybrid.diagram.OutMetaModel_2003"
               name="%metatype.name.OutMetaModel_2003"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="OutMetaModel"
               edithelper="mm_hybrid.diagram.edit.helpers.OutMetaModelEditHelper">
            <param name="semanticHint" value="2003"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http:///MM_Hybrid.ecore">
         <metamodelType
               id="mm_Hybrid.diagram.SourceElementRule_3001"
               name="%metatype.name.SourceElementRule_3001"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="SourceElementRule"
               edithelper="mm_hybrid.diagram.edit.helpers.SourceElementRuleEditHelper">
            <param name="semanticHint" value="3001"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http:///MM_Hybrid.ecore">
         <metamodelType
               id="mm_Hybrid.diagram.Condition_3002"
               name="%metatype.name.Condition_3002"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Condition"
               edithelper="mm_hybrid.diagram.edit.helpers.ConditionEditHelper">
            <param name="semanticHint" value="3002"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http:///MM_Hybrid.ecore">
         <metamodelType
               id="mm_Hybrid.diagram.TargetElementRule_3003"
               name="%metatype.name.TargetElementRule_3003"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="TargetElementRule"
               edithelper="mm_hybrid.diagram.edit.helpers.TargetElementRuleEditHelper">
            <param name="semanticHint" value="3003"/>
         </metamodelType>
      </metamodel>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypeBindings">
      <?gmfgen generated="true"?>
      <clientContext id="mm_Hybrid.diagram.TypeContext">
         <enablement>
            <test
               property="org.eclipse.gmf.runtime.emf.core.editingDomain"
               value="mm_Hybrid.diagram.EditingDomain"/>
         </enablement>
      </clientContext> 
      <binding context="mm_Hybrid.diagram.TypeContext">
         <elementType ref="mm_Hybrid.diagram.Module_1000"/>
         <elementType ref="mm_Hybrid.diagram.Rule_2001"/>
         <elementType ref="mm_Hybrid.diagram.InMetaModel_2002"/>
         <elementType ref="mm_Hybrid.diagram.OutMetaModel_2003"/>
         <elementType ref="mm_Hybrid.diagram.SourceElementRule_3001"/>
         <elementType ref="mm_Hybrid.diagram.Condition_3002"/>
         <elementType ref="mm_Hybrid.diagram.TargetElementRule_3003"/>
         <advice ref="org.eclipse.gmf.runtime.diagram.core.advice.notationDepdendents"/>
      </binding>
   </extension>
	   <extension point="org.eclipse.core.expressions.propertyTesters">
      <?gmfgen generated="true"?>
       <propertyTester
           id="mm_Hybrid.diagram.URIEditorInputPropertyTester"
           type="org.eclipse.emf.common.ui.URIEditorInput"
           namespace="mm_Hybrid.diagram"
           properties="isURIEditorInput"
           class="mm_hybrid.diagram.part.MM_HybridUriEditorInputTester">
       </propertyTester>
   </extension>

	   <extension point="org.eclipse.core.expressions.propertyTesters">
      <?gmfgen generated="true"?>
       <propertyTester
           id="mm_Hybrid.diagram.ShortcutPropertyTester"
           type="org.eclipse.gmf.runtime.notation.View"
           namespace="mm_Hybrid.diagram"
           properties="isShortcut"
           class="mm_hybrid.diagram.part.MM_HybridShortcutPropertyTester">
       </propertyTester>
   </extension>

	   <extension point="org.eclipse.core.expressions.propertyTesters">
      <?gmfgen generated="true"?>
       <propertyTester
           id="mm_Hybrid.diagram.DomainModelElementPropertyTester"
           type="org.eclipse.emf.ecore.EObject"
           namespace="mm_Hybrid.diagram"
           properties="isDomainModelElement"
           class="mm_hybrid.diagram.part.MM_HybridDomainModelElementTester">
       </propertyTester>
   </extension>

	   <extension point="org.eclipse.ui.navigator.viewer">
      <?gmfgen generated="true"?>
      <viewerContentBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension pattern="mm_Hybrid.diagram.resourceContent"/>
			<contentExtension pattern="mm_Hybrid.diagram.domainResourceContent"/>
            <contentExtension pattern="mm_Hybrid.diagram.navigatorLinkHelper"/>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <actionExtension pattern="mm_Hybrid.diagram.navigatorActionProvider"/>
         </includes>
      </viewerActionBinding>
   </extension>

   <extension point="org.eclipse.ui.navigator.navigatorContent">
      <?gmfgen generated="true"?>
      <navigatorContent
            id="mm_Hybrid.diagram.resourceContent" 
            name="%navigatorContentName" 
            priority="normal" 
            contentProvider="mm_hybrid.diagram.navigator.MM_HybridNavigatorContentProvider" 
            labelProvider="mm_hybrid.diagram.navigator.MM_HybridNavigatorLabelProvider"
            icon="icons/obj16/MM_HybridDiagramFile.gif"
            activeByDefault="true">
         <triggerPoints>
            <or>
	           <and>
    	          <instanceof value="org.eclipse.core.resources.IFile"/>
        	      <test property="org.eclipse.core.resources.extension" value="mm_hybrid_diagram"/>
               </and>
               <instanceof value="mm_hybrid.diagram.navigator.MM_HybridAbstractNavigatorItem"/>
           	   <adapt type="org.eclipse.gmf.runtime.notation.View">
           	      <test property="mm_Hybrid.diagram.isShortcut"/>
           	   </adapt>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
         	   <instanceof value="mm_hybrid.diagram.navigator.MM_HybridAbstractNavigatorItem"/>
           	   <adapt type="org.eclipse.gmf.runtime.notation.View">
           	      <test property="mm_Hybrid.diagram.isShortcut"/>
           	   </adapt>
            </or>
         </possibleChildren>
         <commonSorter 
               id="mm_Hybrid.diagram.navigatorSorter" 
               class="mm_hybrid.diagram.navigator.MM_HybridNavigatorSorter">
            <parentExpression>
               <or>
	              <and>
    	             <instanceof value="org.eclipse.core.resources.IFile"/>
        	         <test property="org.eclipse.core.resources.extension" value="mm_hybrid_diagram"/>
                  </and>
                  <instanceof value="mm_hybrid.diagram.navigator.MM_HybridAbstractNavigatorItem"/>
               </or>
            </parentExpression>
         </commonSorter>
      </navigatorContent>
      <navigatorContent
            id="mm_Hybrid.diagram.domainResourceContent" 
            name="%domainNavigatorContentName" 
            priority="normal" 
            contentProvider="mm_hybrid.diagram.navigator.MM_HybridDomainNavigatorContentProvider" 
            labelProvider="mm_hybrid.diagram.navigator.MM_HybridDomainNavigatorLabelProvider"
            icon="icons/obj16/MM_HybridDiagramFile.gif"
            activeByDefault="true">
         <triggerPoints>
            <or>
	           <and>
    	          <instanceof value="org.eclipse.core.resources.IFile"/>
        	      <test property="org.eclipse.core.resources.extension" value="mm_hybrid"/>
               </and>
               <and>
                  <instanceof value="org.eclipse.emf.ecore.EObject"/>
                  <test property="mm_Hybrid.diagram.isDomainModelElement"/>
               </and>
            </or>
         </triggerPoints>
         <possibleChildren>
            <and>
       	       <instanceof value="org.eclipse.emf.ecore.EObject"/>
       	       <test property="mm_Hybrid.diagram.isDomainModelElement"/>
       	    </and>
         </possibleChildren>
      </navigatorContent>
      <actionProvider
            id="mm_Hybrid.diagram.navigatorActionProvider"
            class="mm_hybrid.diagram.navigator.MM_HybridNavigatorActionProvider">
         <enablement>
            <or>
               <instanceof value="mm_hybrid.diagram.navigator.MM_HybridAbstractNavigatorItem"/>
           	   <adapt type="org.eclipse.gmf.runtime.notation.View">
           	      <test property="mm_Hybrid.diagram.isShortcut"/>
           	   </adapt>
            </or>
         </enablement>
      </actionProvider>
   </extension>
   
	   <extension point="org.eclipse.ui.navigator.linkHelper">
      <?gmfgen generated="true"?>
      <linkHelper
            id="mm_Hybrid.diagram.navigatorLinkHelper"
            class="mm_hybrid.diagram.navigator.MM_HybridNavigatorLinkHelper">
         <editorInputEnablement>
            <and>
               <instanceof value="org.eclipse.emf.common.ui.URIEditorInput"/>
               <test property="mm_Hybrid.diagram.isURIEditorInput"/>
            </and>
         </editorInputEnablement>
         <selectionEnablement>
            <instanceof value="mm_hybrid.diagram.navigator.MM_HybridAbstractNavigatorItem"/>
         </selectionEnablement>
      </linkHelper>
   </extension>
   <extension point="org.eclipse.ui.commands">
      <?gmfgen generated="true"?>
      <command
         categoryId="org.eclipse.ui.category.edit"
         defaultHandler="mm_hybrid.diagram.part.MM_HybridDiagramUpdateCommand"
         description="%update.diagram.description"
         id="mm_hybrid.diagram.updateDiagram"
         name="%update.diagram.name"/>
   </extension>
   
   <extension point="org.eclipse.ui.bindings">
      <?gmfgen generated="true"?>
      <key 
         commandId="mm_hybrid.diagram.updateDiagram"
         contextId="mm_hybrid.diagram.ui.diagramContext"
         schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
         sequence="F5"/>
   </extension>
</plugin>
