<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="mm_hybrid.presentation.MM_HybridModelWizardID"
            name="%_UI_MM_HybridModelWizard_label"
            class="mm_hybrid.presentation.MM_HybridModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/MM_HybridModelFile.gif">
         <description>%_UI_MM_HybridModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="mm_hybrid.presentation.MM_HybridEditorID"
            name="%_UI_MM_HybridEditor_label"
            icon="icons/full/obj16/MM_HybridModelFile.gif"
            extensions="mm_hybrid"
            class="mm_hybrid.presentation.MM_HybridEditor"
            contributorClass="mm_hybrid.presentation.MM_HybridActionBarContributor">
      </editor>
   </extension>

</plugin>
