<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2m.atl.adt.launching.atlTransformation">
<stringAttribute key="ATL File Name" value="/Class2relational_TraceAdder/class2relational-atl-trace-atl.atl"/>
<stringAttribute key="ATL VM" value="EMF-specific VM"/>
<stringAttribute key="ATL_COMPILER" value="atl2006"/>
<booleanAttribute key="IS_REFINING" value="false"/>
<mapAttribute key="Input">
<mapEntry key="IN" value="Class"/>
</mapAttribute>
<mapAttribute key="Libs"/>
<mapAttribute key="Model Handler">
<mapEntry key="Class" value="EMF"/>
<mapEntry key="Relational" value="EMF"/>
<mapEntry key="Trace" value="EMF"/>
</mapAttribute>
<mapAttribute key="ModelType">
<mapEntry key="Class" value="METAMODELINPUT"/>
<mapEntry key="IN" value="MODELINPUT"/>
<mapEntry key="OUT" value="MODELOUTPUT"/>
<mapEntry key="Relational" value="METAMODELOUTPUT"/>
<mapEntry key="Trace" value="METAMODELOUTPUT"/>
<mapEntry key="trace" value="MODELOUTPUT"/>
</mapAttribute>
<mapAttribute key="Options">
<mapEntry key="OPTION_CLEAR" value="false"/>
<mapEntry key="OPTION_CONTENT_TYPE" value="false"/>
<mapEntry key="OPTION_DERIVED" value="true"/>
<mapEntry key="allowInterModelReferences" value="true"/>
<mapEntry key="printExecutionTime" value="true"/>
<mapEntry key="step" value="false"/>
<mapEntry key="supportUML2Stereotypes" value="false"/>
</mapAttribute>
<listAttribute key="OrderedInput">
<listEntry value="IN"/>
</listAttribute>
<listAttribute key="OrderedOutput">
<listEntry value="OUT"/>
<listEntry value="trace"/>
</listAttribute>
<mapAttribute key="Output">
<mapEntry key="OUT" value="Relational"/>
<mapEntry key="trace" value="Trace"/>
</mapAttribute>
<mapAttribute key="Path">
<mapEntry key="Class" value="/Class2relational_TraceAdder/Metamodels/Class.ecore"/>
<mapEntry key="IN" value="/Class2relational_TraceAdder/Model/model3.ecore"/>
<mapEntry key="OUT" value="/Class2relational_TraceAdder/Model/out-relational.ecore"/>
<mapEntry key="Relational" value="/Class2relational_TraceAdder/Metamodels/Relational.ecore"/>
<mapEntry key="Trace" value="/Class2relational_TraceAdder/Metamodels/TraceAdder.ecore"/>
<mapEntry key="trace" value="/Class2relational_TraceAdder/Model/traces.xmi"/>
</mapAttribute>
<listAttribute key="Superimpose"/>
</launchConfiguration>
