<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2m.atl.adt.launching.atlTransformation">
<stringAttribute key="ATL File Name" value="/MeTAGeM/ATL/MeTAGeM2Hybrid.atl"/>
<stringAttribute key="ATL VM" value="EMF-specific VM"/>
<stringAttribute key="ATL_COMPILER" value="atl2006"/>
<booleanAttribute key="IS_REFINING" value="false"/>
<mapAttribute key="Input">
<mapEntry key="IN" value="AMW"/>
<mapEntry key="left" value="MOF"/>
<mapEntry key="right" value="MOF"/>
</mapAttribute>
<mapAttribute key="Libs"/>
<mapAttribute key="Model Handler">
<mapEntry key="AMW" value="EMF"/>
<mapEntry key="MM_Hybrid" value="EMF"/>
<mapEntry key="MOF" value="EMF"/>
</mapAttribute>
<mapAttribute key="ModelType">
<mapEntry key="AMW" value="METAMODELINPUT"/>
<mapEntry key="IN" value="MODELINPUT"/>
<mapEntry key="MM_Hybrid" value="METAMODELOUTPUT"/>
<mapEntry key="MOF" value="METAMODELINPUT"/>
<mapEntry key="OUT" value="MODELOUTPUT"/>
<mapEntry key="left" value="MODELINPUT"/>
<mapEntry key="right" value="MODELINPUT"/>
</mapAttribute>
<mapAttribute key="Options">
<mapEntry key="OPTION_CLEAR" value="false"/>
<mapEntry key="OPTION_CONTENT_TYPE" value="false"/>
<mapEntry key="OPTION_DERIVED" value="true"/>
<mapEntry key="allowInterModelReferences" value="false"/>
<mapEntry key="printExecutionTime" value="false"/>
<mapEntry key="step" value="false"/>
<mapEntry key="supportUML2Stereotypes" value="false"/>
</mapAttribute>
<listAttribute key="OrderedInput">
<listEntry value="IN"/>
<listEntry value="left"/>
<listEntry value="right"/>
</listAttribute>
<listAttribute key="OrderedOutput">
<listEntry value="OUT"/>
</listAttribute>
<mapAttribute key="Output">
<mapEntry key="OUT" value="MM_Hybrid"/>
</mapAttribute>
<mapAttribute key="Path">
<mapEntry key="AMW" value="/MeTAGeM/Metamodels/mw_metagem.ecore"/>
<mapEntry key="IN" value="/MeTAGeM/Models/zz.amw"/>
<mapEntry key="MM_Hybrid" value="/MeTAGeM/Metamodels/MM_Hybrid.ecore"/>
<mapEntry key="MOF" value="#EMF"/>
<mapEntry key="OUT" value="/MeTAGeM/Models/zz.mm_hybrid"/>
<mapEntry key="left" value="/MeTAGeM/Metamodels/Families.ecore"/>
<mapEntry key="right" value="/MeTAGeM/Metamodels/Persons.ecore"/>
</mapAttribute>
<listAttribute key="Superimpose"/>
</launchConfiguration>
